*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
Gemfile.lock
.rvmrc
.ruby-version

# YARD artifacts
.yardoc
_yardoc
doc/
*.local
